main {
    flex: 1;

    .meeting-planner {
        margin-left: 5%;
        margin-right: 5%;
        max-width: 90%;
        padding-top: 30px;
        margin-bottom: 30px;
    
        &__header {
            .meeting-planner__title {
                font-size: 40px;
                margin-bottom: 20px;
                color: #0c2023;
            }
    
            .meeting-planner__info {
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 20px;
    
                span {
                    color: #46c3c6;
                }
            }
        }
    
        .meeting-planner__step {
            .meeting-planner__step-title {
                color: #0c2023;
                margin-bottom: 20px;
            }
        }

        .meeting-planner__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;

            .meeting-planner__calendar, 
            .meeting-planner__slots {
                flex: 1; /* Кожен блок займатиме половину доступної ширини */
                height: 400px; /* Встановлення однакової висоти */
                box-sizing: border-box; /* Врахування padding і border у розрахунку розмірів */
            }

            .meeting-planner__calendar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start; /* Вирівнювання вмісту за верхом */
                padding: 20px;
                background: #f9f9f9;
                border: 1px solid #46c3c6;
                .meeting-planner__calendar h3 {
                    font-size: 34px;
                    margin-bottom: 15px;
                    text-align: center;
                    color: #194747;
                }
                .react-calendar {
                    width: 450px;
                    max-width: 100%;
                    background: #f9f9f9;
                    border: 1px solid #46c3c6;
                    font-family: 'Barlow', sans-serif;
                    line-height: 1.125em;
                    margin-top: 20px;
                    margin-bottom: 30px;
        
                    .react-calendar__navigation button {
                        min-width: 44px;
                        background: none;
                        font-size: 20px;
                    }
        
                    .react-calendar__viewContainer {
                        .react-calendar__month-view {
                            .react-calendar__month-view__weekdays {
                                text-align: center;
                                text-transform: uppercase;
                                font-size: 1em;
                                font-weight: bold;
                                color: #194747;
                            }
            
                            .react-calendar__month-view__days {
                                .react-calendar__month-view__days__day {
                                    color: #a3a3a3;
                                }
            
                                .react-calendar__tile {
                                    max-width: 100%;
                                    padding: 10px 6.6667px;
                                    background-color: #f9f9f9;
                                    color: #46c3c6;
                                    text-align: center;
                                    font-size: 20px;
    
                                    &:disabled {
                                        background-color: #f9f9f9;
                                        color: #a3a3a3;
                                    }
                                }
            
                                .react-calendar__tile--active {
                                    background: #46c3c6;
                                    color: white;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
    
            .meeting-planner__slots {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                background: #f9f9f9;
                border: 1px solid #46c3c6;
                box-sizing: border-box;
    
                h3 {
                    font-size: 24px;
                    margin-bottom: 15px;
                    text-align: center;
                    color: #194747;
                }
    
                .slots-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
                    grid-gap: 15px; /* Відстань між слотами */

                    .slot-card {
                        display: flex;
                        align-items: center;
                        padding: 10px 15px;
                        width: 250px;
                        border: 1px solid #6e6e6e;
                        font-size: 16px;
                        font-weight: 500;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        // transition: background-color 0.3s, transform 0.3s;

                        &:hover {
                            background-color: white;
                            color: #46c3c6;
                            // font-size: 18px;
                        }
                    }
    
                    .slot-available {
                        background-color: #46c3c6;
                        color: white;
                    }
    
                    .slot-unavailable {
                        background-color: #194747;
                        color:#46c3c6;
                    }
                }
            }
        }
    
        // .meeting-planner__button {
        //     background-color: #f9f9f9;
        //     border: 1px solid black;
        //     color: black;
        //     font-size: 18px;
        //     font-weight: bold;
        //     padding: 10px 35px;
        //     border-radius: 5px;
        //     cursor: pointer;
        //     transition: background-color 0.3s;
        //     text-align: right;
    
        //     &:hover {
        //         background-color: #2fd0d4;
        //         color: #f9f9f9;
        //     }
        // }
    }
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-window {
    background: #f9f9f9;
    color: #0c2023;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    h2 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    p {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .modal-confirm-button {
        background-color: #194747;
        color: #46c3c6;
        font-size: 14px;
        padding: 10px 20px;
        margin-right: 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #46c3c6;
            color: #f9f9f9;
        }
    }

    .modal-close-button {
        background-color: #194747;
        color: #46c3c6;
        font-size: 14px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #46c3c6;
            color: #f9f9f9;
        }
    }
}

@media (max-width: 768px) {
    .meeting-planner__header {
        .meeting-planner__title {
            font-size: 28px;
        }

        .meeting-planner__info {
            font-size: 20px;
        }
    }

    .meeting-planner__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .meeting-planner__calendar .rbc-calendar {
            font-size: 14px;
        }

        .meeting-planner__slots {
            gap: 10px;
            padding: 15px;

            h3 {
                font-size: 20px;
            }

            .slots-container {
                grid-gap: 10px; /* Відстань між слотами */

                .slot-card {
                    width: 180px;

                    &:hover {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .meeting-planner__button {
        font-size: 16px;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .meeting-planner__header {
        text-align: center;

        .meeting-planner__title {
            font-size: 22px;
        }

        .meeting-planner__info {
            font-size: 18px;

            span {
                font-size: 18px;
            }
        }
    }

    .meeting-planner__button {
        font-size: 14px;
        padding: 6px 15px;
    }

    .meeting-planner__calendar .rbc-calendar {
        font-size: 12px;
    }
}